.sign-in-sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-in-form,
.sign-up-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  width: 300px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.submitbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.submitbtn:hover {
  background-color: #45a049;
}
